
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: linear-gradient(to right, #AFEEEE 40%, rgba(1, 124, 124, 70%) 100%);
}
/********Queries***/


/**Nav Bar **/
.navigation-links {
    color:#AFEEEE;
}

.navigation-links:hover {
    color:#AFEEEE;
    font-weight: bold;
    border-bottom: 2px solid #AFEEEE;
}

.navigation-brand {
    width: 20%;
    margin:0 2rem 0 auto;
    position: relative;
    top: 2.5rem;
}

.menu-icon {
    width: 2rem;
}

.brand-logo {
    width: 100%;
}

.active-page {
    color:#AFEEEE;
    font-weight: bold;
    border-bottom: 2px solid #AFEEEE;
}

/***Body*********/
.first-section {
    display: flex;
    align-items: center;
    height: 50vmax;
}

.first-section-text {
    width: 50%;
    text-align: center;
    margin: auto;

}

.first-section-service {
    font-size: 5vmax;
}

.first-section-image {
    width: 30%;
    margin:0 5rem 0 auto;
}

.cctv-image {
    width: 100%;
    
}


.second-section {
    margin: auto !important;
}

.second-section-title {
    text-align: center;
    margin-bottom: 2rem;
}

.service-card-title {
    background-color: rgba(175,238,238, 50%);
    width: 80%;
}

.services-images {
    width: 50%;
}

/********************footer****************/
.social-container {
    display: flex;
    justify-content: center;
}


.social-icon {
    width: 3vmax;
    margin: 3rem 1rem;
}

.copy-rights {
    margin: 0;
    display: flex;
    justify-content: center;
}

/****cookies***/
.cookieConsentContainer {

	z-index: 999;

	width: 350px;

	min-height: 20px;

	box-sizing: border-box;

	padding: 30px 30px 30px 30px;

	background: RGBA(35, 35, 35, 80%);

	overflow: hidden;

	position: fixed;

    bottom: 30px;

	right: 30px;

	display: none;

}

.cookieConsentContainer .cookieTitle a {

	font-family: OpenSans, arial, "sans-serif";

	color: #FFFFFF;

	font-size: 22px;

	line-height: 20px;

	display: block;

}

.cookieConsentContainer .cookieDesc p {

	margin: 0;

	padding: 0;

	font-family: OpenSans, arial, "sans-serif";

	color: #FFFFFF;

	font-size: 13px;

	line-height: 20px;

	display: block;

	margin-top: 10px;

} .cookieConsentContainer .cookieDesc a {

	font-family: OpenSans, arial, "sans-serif";

	color: #FFFFFF;

	text-decoration: underline;

}

.cookieConsentContainer .cookieButton a {

	display: inline-block;

	font-family: OpenSans, arial, "sans-serif";

	color: #FFFFFF;

	font-size: 14px;

	font-weight: bold;

	margin-top: 14px;

	background: #000000;

	box-sizing: border-box; 

	padding: 15px 24px;

	text-align: center;

	transition: background 0.3s;

}

.cookieConsentContainer .cookieButton a:hover { 

	cursor: pointer;

	background: #AFEEEE;

}



@media (max-width: 980px) {

	.cookieConsentContainer {

		bottom: 0px !important;

		left: 0px !important;

		width: 100%  !important;

	}

}