

.container{
	width:980px;
	margin:auto;
	background-color:#666666;
}

.shine:hover {
	background-color: lightgreen;
	
}

#head{
	width:90%;
}

img{
	height:150;
	width:150;
}

#logo{
	width:15%;
	float:right;
}

#brand h1{
	text-align: center;
	width:85%;
	float:left;
}

.brandh{
	font-size:65px;
}

#content{
	width:100%;
	overflow:hidden;
	margin:30px auto;
}

#main{
	width:85%;
}

#main h1{
	text-align:center;
	margin:auto;
}

#main a{
	font-weight:bold ;
	color:white;
}

#nav{
	width:100%;
	float:left;
	background-color:#afffff;
	padding-bottom:20px;
}

#nav ul{
	list-style:none;
	padding:0;
}
#nav li{
	float:left;
	padding-right:40px;
}

a{
	text-decoration:none;
	color:#000;
}

.selected{
	font-weight:bold;
}

.forward:hover {
	font-size: 20px;
	color: blue;
}

#clr{
	clear:both;
}

#footer{
	text-align:center;
	background-color:#afffff;
	padding:30px;
}

p.serv{
	text-align:center;
	border-bottom:5px black dashed;
	font-family:arial;
}

input{
	width:100%;
}

textarea{
	width:80%;
	height:80px;
}